{% extends "base.html" %}
{% block content %}

<!-- DO NOT CHANGE THIS -->
<form action="{{ url_for('manage_accounts') }}?target={{ url_for('show_accounts', url = 'edit') }}" method="post" enctype="multipart/form-data">
  Old password<input type="password" name="password" required/>
  New password<input type="password" name="new_password1" required/>
  New password, again<input type="password" name="new_password2" required/>
  <input type="submit" name="update_password" value="submit"/>
  <input type="hidden" name="operation" value="update_password"/>
</form>


{% endblock %}